<div class="col-sm-9">
  <ol class="breadcrumb">
    <li><a href="#">管理</a></li>
    <li class="active">文章管理</li>
  </ol>

  <table class="table table-hover table-bordered table-striped table-condensed">
    <tbody id="table_more">
    <tr>
      <th class="text-center-align">序号</th>
      <th class="text-center-align">文章</th>
      <th class="text-center-align">分类</th>
      <th class="text-center-align">页面浏览</th>
      <th class="text-center-align">评论数</th>
      <th class="text-center-align">基本操作</th>
    </tr>
    {% for p in passages %}
    <tr>
      <td class="text-center-align">{{ forloop.counter }}</td>
      <td>{{ p.passage.title }}</td>
      <td>{{ p.passage.catalog.name }}</td>
      <td class="text-center-align">{{ p.passage.hot }}</td>
      <td class="text-center-align">{{ p.comment_count }}</td>
      <td class="text-center-align">
        <button class="btn btn-xs btn-info" data="{{ p.passage.id }}" id="mngpassage_view_{{ p.passage.id }}">查看</button>
        <button class="btn btn-xs btn-info" data="{{ p.passage.id }}" id="mngpassage_modify_{{ p.passage.id }}">修改</button>
        <button class="btn btn-xs btn-danger" data="{{ p.passage.id }}" id="mngpassage_delete_{{ p.passage.id }}">删除</button>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ page_count_block|safe }}
</div>
<div class="col-sm-3">
    <div class="bulletin">
      <h3>文章管理</h3><hr>
      <p>
        <button class="btn btn-info" id="mngpassage_new_passage">新增文章</button>
        <button class="btn btn-info" id="mngpassage_backup_passage">备份文章</button>
      </p>
    </div>
</div>