<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ brand }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% if games %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            游戏 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for game in games %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/playgame/{{ game.id }}">{{ game.name }}</a></li>
            {% endfor %}
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/playgame/more">更多……</a></li>
          </ul>
        </li>
        {% endif %}

        {% if admin %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            管理 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/passage">文章管理</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/comment">评论管理</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/catalog">分类管理</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/label">标签管理</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/setting">博客设置</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/password">密码设置</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/game">游戏管理</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/manage/logout">退出</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="/manage/admin">管理</a></li>
        {% endif %}
      </ul>
      <form class="navbar-form navbar-right" role="search" method="get" action="/search">
        <div class="form-group">
          <input type="text" id="search_text" class="form-control" name="navq" placeholder="搜索本微站……">
        </div>
        <button type="submit" id="search_go" class="btn btn-success">GO!</button>
      </form>
    </div>
  </div>
</div>