<div class="passage">
  {% if has_passage %}
  <h3><a href="/passage/{{ passage_id }}">{{ passage_title }}</a></h3>
  <hr>
  <p>{{ passage_content|safe }}</p>
  <hr>
  <p class="post-font">提交时间:{{passage_create_time|date:"Y-m-d H:i:s" }}   更新时间:{{passage_update_time|date:"Y-m-d H:i:s" }}</p>
  <p>    
    <div>
      <a href="/passage/{{ passage_id }}#leave_comment_z"><span class="label label-success">评论({{ passage_comment_count }})</span></a>
      {% if passage_catolog %}
      <a href="/cat/{{ passage_catolog.id }}" title="{{ passage_catolog.desc }}"><span class="label label-primary">{{ passage_catolog.name }}</span></a>
      {% endif %}
      {% if passage_label_list %}
      {% for label in passage_label_list%}
      <a href="/label/{{ label.id }}" title="{{ label.desc }}"><span class="label label-info">{{ label.name }}</span></a>
      {% endfor %}
      {% endif %}
    </div>
  </p>
  {% else %}
  <p><h2>SORRY，由于懒惰，还没有任何文章……</h2></p>
  {% endif %}
</div>