a:hover {
	text-decoration:none;
}
.text-center-align {
	text-align: center;
}
.text-align-right {
	float: right;
}
.gameitem-align {
    margin-left: 415px;
	margin-top: 275px;
}
.form-label-left {
	margin-top: 8px; 
	margin-left: -22px;
}
.form-btn-left {
	margin: 12px 2px 2px 2px;
}
.fixed-hr {
	margin: 2px 2px 8px 2px;
}
.comment-list {
	margin-top: 30px;
}

.comment {
	-webkit-box-shadow: 0px 0px 1px #000000;
	-moz-box-shadow: 0px 0px 1px #000000;
	box-shadow: 0px 0px 1px #000000;
	background-color: #F0F0F0;
	padding: 10px;
	color: #888888;
	margin-top: 5px;
}

.comment-inner {
	-webkit-box-shadow: 0px 0px 1px #000000;
	-moz-box-shadow: 0px 0px 1px #000000;
	box-shadow: 0px 0px 1px #000000;
	background-color: #FFFFFF;
	padding: 10px;
	color: #888888;
	margin-top: 5px;
}
.comment-header {
	margin-top: -42px;
	margin-left: 56px;
	margin-bottom: 10px;
}
.comment-align-right {
	text-align: right;
}
.post-font {
    font-size: 6pt;
    color: #C0C0C0;
    text-align: right;
}
.login-error {
    margin-top: 55px;
}
.display-none {
    display: none;
}